<!-- build:js /assets/build/js/mcms-node-pages-dev.js-->
<script src="/public/pages.app/pages.module.js"></script>
<script src="/public/pages.app/pages.config.js"></script>
<script src="/public/pages.app/index.controller.js"></script>

<script src="/public/pages.app/Categories/pages.categories.module.js"></script>
<script src="/public/pages.app/Pages/pages.pages.module.js"></script>
<script src="/public/pages.app/Services/dataService.js"></script>
<script src="/public/pages.app/Services/page.service.js"></script>
<script src="/public/pages.app/Pages/editPage.directive.js"></script>
<script src="/public/pages.app/Components/editItem/generalInformation.directive.js"></script>
<script src="/public/pages.app/Components/editItem/mediaFiles.directive.js"></script>
<script src="/public/pages.app/Components/editItem/relatedItems.directive.js"></script>
<script src="/public/pages.app/Pages/editPageCtrl.js"></script>

<!-- endbuild -->